.about,
.projects {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  font-size: var(--font-size-base);
  font-weight: 700;
  font-family: var(--font-quicksand);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
}
.about:hover,
.projects:hover {
  transition: all 0.2s ease-in-ease-out;
  transform: scale(1.2);
}
.about {
  font-weight: 600;
}
.projects-parent {
  margin: 0;
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  gap: 64px;
}
.a-learner,
.hello-i-am {
  align-self: stretch;
  position: relative;
}
.hello-i-am {
  letter-spacing: -0.01em;
  line-height: 52.8px;
  font-weight: 600;
  font-size: 60px;
  font-family: var(--font-cutive-mono);
}
.a-learner {
  font-size: var(--font-size-43xl);
  font-family: var(--font-cutive-mono);
}
.hello-i-am-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  font-size: 48px;
}
.frame-child,
.frame-item {
  position: absolute;
  width: 69.63%;
  right: 34.56%;
  bottom: 38px;
  left: -4.19%;
  background-color: var(--color-whitesmoke-100);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
  height: 120px;
}
.frame-item {
  width: 61.67%;
  right: 14.98%;
  bottom: 0;
  left: 23.35%;
  border-radius: var(--br-4xs);
  background-color: var(--color-whitesmoke-200);
  height: 592px;
}
.frame-inner {
  position: absolute;
  width: 53.14%;
  right: 19.16%;
  bottom: 96px;
  left: 27.7%;
  max-width: 100%;
  overflow: hidden;
  height: 472px;
  object-fit: cover;
}
.rectangle-div {
  position: absolute;
  width: 30.27%;
  right: 0;
  bottom: 168px;
  left: 69.73%;
  background-color: var(--color-whitesmoke-100);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
  height: 48px;
}
.frame {
  flex: 1;
  position: relative;
  height: 592px;
  overflow: hidden;
}
.i-am-a {
  margin: 0;
}
.i-am-a-container {
  align-self: stretch;
  position: relative;
  line-height: 36px;
}
.hire-me {
  position: relative;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 286px;
  height: 60px;
  flex-shrink: 0;
}
.hire-me-wrapper,
.i-am-a-ux-designer-web-devel-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.hire-me-wrapper {
  text-decoration: none;
  border-radius: 0 var(--br-11xl) 0 var(--br-11xl);
  background-color: var(--color-whitesmoke-100);
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  justify-content: flex-end;
  text-align: center;
  font-size: var(--font-size-13xl);
  color: inherit;
}
.email-button:hover,
.flashcard-thumbnail:hover,
.hire-me-wrapper:hover,
.restaurant-thumbnail:hover {
  transition: all 0.2s ease-in-ease-out;
  transform: scale(1.1);
}
.i-am-a-ux-designer-web-devel-parent {
  flex: 1;
  justify-content: center;
  gap: var(--gap-71xl);
}
.frame-parent {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 60px;
  font-size: var(--font-size-5xl);
}
.work-samples-heading-child {
  position: absolute;
  width: 74.16%;
  top: 0;
  right: 25.84%;
  left: 0;
  background-color: var(--color-whitesmoke-400);
  height: 120px;
}
.work-samples-heading-item {
  position: absolute;
  width: 34.94%;
  right: 0;
  bottom: 0;
  left: 65.06%;
  max-width: 100%;
  overflow: hidden;
  height: 48px;
}
.work-samples {
  position: absolute;
  top: 62px;
  left: calc(50% - 69px);
  line-height: 52px;
  text-transform: uppercase;
  font-weight: 500;
}
.work-samples-heading {
  position: relative;
  width: 538px;
  height: 160px;
  color: var(--color-rosybrown-100);
}
.restaurant-thumbnail-child {
  position: absolute;
  top: -8px;
  left: -8px;
  border-radius: 0 var(--br-11xl) 0 var(--br-11xl);
  width: 311px;
  height: 388px;
  object-fit: cover;
}
.restaurant-thumbnail-item {
  position: absolute;
  top: 243px;
  left: 0;
  width: 275px;
  height: 112.6px;
}
.figma,
.restaurant-app-mock-up {
  position: absolute;
  left: 17px;
  display: inline-block;
}
.restaurant-app-mock-up {
  top: 262px;
  letter-spacing: 0.04em;
  width: 115px;
  height: 51px;
  text-shadow: 0 4px 1px rgba(0, 0, 0, 0.25);
}
.figma {
  top: 312px;
  text-decoration: underline;
  letter-spacing: 0.05em;
  font-weight: 500;
  color: var(--color-white);
  text-align: center;
  width: 249px;
}
.restaurant-thumbnail {
  text-decoration: none;
  position: relative;
  width: 294px;
  height: 356px;
  cursor: pointer;
  color: inherit;
}
.flashcard-thumbnail-child {
  position: absolute;
  top: -8px;
  left: -8px;
  border-radius: 0 var(--br-11xl) 0 var(--br-11xl);
  width: 311px;
  height: 388px;
  object-fit: cover;
}
.javascript-html,
.react-flashcard-app {
  position: absolute;
  left: 18px;
  display: inline-block;
}
.react-flashcard-app {
  top: 262px;
  letter-spacing: 0.02em;
  width: 115px;
  height: 51px;
  text-shadow: 0 4px 1px rgba(0, 0, 0, 0.25);
}
.javascript-html {
  top: 312px;
  text-decoration: underline;
  letter-spacing: 0.04em;
  font-weight: 500;
  color: var(--color-white);
  text-align: center;
  width: 249px;
}
.flashcard-thumbnail {
  text-decoration: none;
  position: relative;
  width: 294px;
  height: 356px;
  color: inherit;
}
.tavern-menu-design {
  position: absolute;
  top: 262px;
  left: 18px;
  letter-spacing: 0.04em;
  display: inline-block;
  width: 115px;
  height: 51px;
  text-shadow: 0 4px 1px rgba(0, 0, 0, 0.25);
}
.restaurant-thumbnail-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: var(--gap-xl);
  font-size: var(--font-size-base);
  color: var(--color-whitesmoke-100);
}
.experience {
  position: absolute;
  top: 60px;
  left: calc(50% - 69px);
  line-height: 53px;
  text-transform: uppercase;
  font-weight: 500;
}
.rectangle-parent {
  position: relative;
  width: 538px;
  height: 158px;
  color: var(--color-rosybrown-100);
}
.html-css-figma {
  position: absolute;
  width: 96.24%;
  top: calc(50% - 13px);
  left: 0;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.html-css-figma-bootstrap-j-wrapper {
  flex: 1;
  position: relative;
  height: 64px;
}
.star-point-icon {
  position: relative;
  width: 63px;
  height: 45.73px;
}
.freelance-web-designer {
  flex: 1;
  position: relative;
  font-weight: 500;
}
.star-point-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-11xl);
}
.transforming-ideas-into {
  margin-bottom: 0;
}
.transforming-ideas-into-functi {
  margin: 0;
  padding-left: var(--padding-8xl);
}
.transforming-ideas-into-container {
  flex: 1;
  position: relative;
  line-height: 30px;
  font-weight: 300;
}
.transforming-ideas-into-functi-wrapper {
  align-self: stretch;
  border-radius: 0 var(--br-xl) 0 var(--br-xl);
  background-color: var(--color-rosybrown-300);
  flex-direction: row;
  padding: 0 var(--padding-3xs);
  font-size: var(--font-inherit);
  font-family: var(--font-inherit);
}
.frame-container,
.frame-div,
.transforming-ideas-into-functi-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame-div {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-lg);
  text-align: left;
  font-size: var(--font-size-13xl);
}
.frame-container {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-45xl);
  gap: var(--gap-xl);
}
.python-sql-git {
  position: absolute;
  width: 96.77%;
  top: calc(50% - 12px);
  left: -0.09%;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.star-point-group {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-11xl);
}
.partnered-directly-with-container {
  flex: 1;
  position: relative;
  line-height: 30px;
  font-weight: 300;
}
.frame-parent1,
.partnered-directly-with-stakeh-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.partnered-directly-with-stakeh-wrapper {
  border-radius: 0 var(--br-xl) 0 var(--br-xl);
  background-color: var(--color-rosybrown-300);
  overflow: hidden;
  padding: var(--padding-10xs) var(--padding-3xs);
  font-size: var(--font-inherit);
  font-family: var(--font-inherit);
}
.frame-parent1 {
  padding: 0 var(--padding-45xl);
  gap: var(--gap-xl);
}
.python-html-css {
  position: absolute;
  width: 96.39%;
  top: calc(50% - 24.5px);
  left: 0;
  font-weight: 500;
  display: flex;
  align-items: center;
  height: 50px;
}
.frame-group,
.frame-parent3,
.frame-parent4 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--gap-xl);
}
.frame-parent4 {
  flex: 1;
  flex-direction: column;
  text-align: left;
  font-size: var(--font-size-13xl);
}
.frame-group,
.frame-parent3 {
  align-self: stretch;
}
.frame-parent3 {
  flex-direction: row;
  padding: 0 63px;
}
.frame-group {
  flex-direction: column;
  text-align: right;
  font-size: var(--font-size-xl);
}
.contact1 {
  position: absolute;
  top: calc(50% - 17px);
  left: calc(50% - 69px);
  line-height: 53px;
  text-transform: uppercase;
  font-weight: 500;
}
.hello {
  position: relative;
  font-size: var(--font-size-21xl);
  line-height: 53px;
  font-weight: 600;
  color: var(--color-rosybrown-100);
  text-align: left;
}
.if-you-would,
.with-a-background-container {
  align-self: stretch;
  position: relative;
  line-height: 30px;
  font-weight: 300;
}
.ykongoswegoedu {
  position: relative;
  font-weight: 500;
}
.desktop-2,
.email-button,
.hello-parent {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.email-button {
  text-decoration: none;
  border-radius: var(--br-11xl);
  background-color: var(--color-rosybrown-300);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-darkslategray);
  box-sizing: border-box;
  width: 249px;
  height: 48px;
  justify-content: center;
  color: inherit;
}
.desktop-2,
.hello-parent {
  justify-content: flex-start;
}
.hello-parent {
  align-self: stretch;
  border-radius: var(--br-11xl);
  background-color: #fbfbfb;
  border: 30px solid var(--color-rosybrown-200);
  padding: 24px;
  gap: var(--gap-base);
  text-align: center;
  font-size: var(--font-size-xl);
}
.desktop-2 {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding: var(--padding-45xl);
  box-sizing: border-box;
  gap: 73px;
  background-image: url(./public/desktop--2@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  text-align: left;
  font-size: var(--font-size-21xl);
  color: var(--color-black);
  font-family: var(--font-quicksand);
}
@media screen and (max-width: 1200px) {
  .transforming-ideas-into-container {
    font-size: var(--font-size-xl);
    line-height: 30px;
  }
  .partnered-directly-with-container {
    font-size: var(--font-size-xl);
  }
}
@media screen and (max-width: 960px) {
  .projects-parent {
    gap: var(--gap-xl);
  }
  .frame-item {
    max-height: 425px;
  }
  .frame-inner {
    opacity: 0;
    max-height: 300px;
  }
  .frame-inner.animate {
    animation: 1s ease 0s 1 normal forwards fade-in-top;
  }
  @keyframes fade-in-top {
    0% {
      transform: translateY(-50px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  .hire-me {
    font-size: var(--font-size-9xl);
  }
  .restaurant-thumbnail-parent {
    flex-direction: row;
    gap: 24px;
    align-items: center;
    justify-content: center;
    padding-bottom: 0;
    box-sizing: border-box;
  }
  .partnered-directly-with-container,
  .transforming-ideas-into-container {
    font-size: var(--font-size-xl);
  }
  .if-you-would,
  .with-a-background-container {
    font-size: var(--font-size-base);
  }
}
@media screen and (max-width: 420px) {
  .projects-parent {
    align-self: stretch;
    width: auto;
    flex-direction: column;
    gap: var(--gap-xl);
    align-items: center;
    justify-content: space-between;
    padding-left: var(--padding-13xl);
    padding-top: 0;
    padding-right: var(--padding-13xl);
    box-sizing: border-box;
  }
  .a-learner,
  .hello-i-am {
    font-size: var(--font-size-13xl);
    text-align: center;
  }
  .a-learner {
    font-size: var(--font-size-21xl);
  }
  .hello-i-am-parent {
    align-items: center;
    justify-content: center;
  }
  .frame {
    display: none;
    flex: unset;
    align-self: stretch;
  }
  .i-am-a-container {
    font-size: var(--font-size-xl);
    text-align: center;
  }
  .hire-me {
    font-size: var(--font-size-5xl);
  }
  .hire-me-wrapper {
    align-items: center;
    justify-content: flex-start;
  }
  .i-am-a-ux-designer-web-devel-parent {
    align-items: center;
    justify-content: center;
    flex: unset;
    align-self: stretch;
  }
  .frame-parent {
    flex-direction: column;
    gap: var(--gap-42xl);
    padding-right: var(--padding-base);
    box-sizing: border-box;
  }
  .work-samples {
    font-size: var(--font-size-9xl);
  }
  .work-samples-heading {
    align-self: stretch;
    width: auto;
  }
  .experience {
    font-size: var(--font-size-9xl);
  }
  .rectangle-parent {
    align-self: stretch;
    width: auto;
  }
  .html-css-figma {
    font-size: var(--font-size-base);
  }
  .html-css-figma-bootstrap-j-wrapper {
    flex: unset;
    align-self: stretch;
  }
  .freelance-web-designer {
    font-size: var(--font-size-5xl);
  }
  .transforming-ideas-into-container {
    font-size: var(--font-size-base);
  }
  .frame-div {
    flex: unset;
    align-self: stretch;
  }
  .frame-container {
    flex-direction: column;
    gap: var(--gap-11xl);
    align-items: center;
    justify-content: flex-start;
    padding-left: var(--padding-base);
    padding-right: var(--padding-base);
    box-sizing: border-box;
  }
  .partnered-directly-with-container,
  .python-sql-git {
    font-size: var(--font-size-base);
  }
  .frame-parent1 {
    flex-direction: column;
    gap: 35px;
    padding-left: var(--padding-base);
    padding-right: var(--padding-base);
    box-sizing: border-box;
  }
  .python-html-css {
    font-size: var(--font-size-base);
  }
  .frame-parent4 {
    flex: unset;
    align-self: stretch;
  }
  .frame-parent3 {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-left: var(--padding-base);
    padding-right: var(--padding-base);
    box-sizing: border-box;
  }
  .contact1 {
    font-size: var(--font-size-9xl);
  }
  .with-a-background-container {
    text-align: center;
  }
  .ykongoswegoedu {
    font-size: var(--font-size-base);
  }
  .email-button {
    width: auto;
    align-self: unset;
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
@media screen and (min-width: 1201px) {
  .partnered-directly-with-container,
  .transforming-ideas-into-container {
    font-weight: 300;
    font-family: var(--font-quicksand);
    font-size: var(--font-size-xl);
    line-height: 30px;
  }
}
